.test {
  :global {
    .error {
      text-align: center;
      margin-top: 30vh;
    }
    .container {
      margin-left: 2em;
      user-select: none;

      h2 {
        margin-bottom: 30px;
      }

      #ans-choose {
      }
    }
  }
}
