.test {
  :global {
    .container {
      max-width: 800cm;
      user-select: none;
      // text-align: center;
      margin-top: 40px;

      h2 {
        margin-bottom: 30px;
      }

      #ans-choose {
      }
    }
  }
}
